In [44]:
import sklearn
import pandas as  pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.decomposition import TruncatedSVD
import numpy as np

body = [
    "the quick brown fox",
    "the slow brown dog",
    "the quick red dog",
    "the lazy yellow fox"
]

In [45]:


vectorizer = CountVectorizer(min_df=2, stop_words='english')
bunch_of_words = vectorizer.fit_transform(body)
bunch_of_words.todense()

matrix([[1, 0, 1, 1],
        [1, 1, 0, 0],
        [0, 1, 0, 1],
        [0, 0, 1, 0]], dtype=int64)

In [46]:


svd = TruncatedSVD(n_components=2)
lsa = svd.fit_transform(bunch_of_words)
lsa

array([[ 1.54985297,  0.70710678],
       [ 0.99250756, -0.70710678],
       [ 0.99250756, -0.70710678],
       [ 0.43516215,  0.70710678]])

In [47]:
topic_encoded_df = pd.DataFrame(lsa, columns = ["topic_1", "topic_2"])
topic_encoded_df["body"] = body
display(topic_encoded_df[["body", "topic_1", "topic_2"]])

                  body   topic_1   topic_2
0  the quick brown fox  1.549853  0.707107
1   the slow brown dog  0.992508 -0.707107
2    the quick red dog  0.992508 -0.707107
3  the lazy yellow fox  0.435162  0.707107

In [48]:

dictionary = vectorizer.get_feature_names_out()
dictionary

array(['brown', 'dog', 'fox', 'quick'], dtype=object)

In [49]:
encoding_matrix = pd.DataFrame(svd.components_,
                               index=['topic_1', 'topic_2'],
                               columns= dictionary).T
encoding_matrix

        topic_1       topic_2
brown  0.557345  0.000000e+00
dog    0.435162 -7.071068e-01
fox    0.435162  7.071068e-01
quick  0.557345 -7.917469e-16

In [50]:
encoding_matrix['abs_topic_1'] = np.abs(encoding_matrix['topic_1'])
encoding_matrix['abs_topic_2'] = np.abs(encoding_matrix['topic_2'])
encoding_matrix.sort_values('abs_topic_1', ascending=False)

        topic_1       topic_2  abs_topic_1   abs_topic_2
quick  0.557345 -7.917469e-16     0.557345  7.917469e-16
brown  0.557345  0.000000e+00     0.557345  0.000000e+00
fox    0.435162  7.071068e-01     0.435162  7.071068e-01
dog    0.435162 -7.071068e-01     0.435162  7.071068e-01

In [51]:
encoding_matrix.sort_values('abs_topic_2', ascending=False)

        topic_1       topic_2  abs_topic_1   abs_topic_2
fox    0.435162  7.071068e-01     0.435162  7.071068e-01
dog    0.435162 -7.071068e-01     0.435162  7.071068e-01
quick  0.557345 -7.917469e-16     0.557345  7.917469e-16
brown  0.557345  0.000000e+00     0.557345  0.000000e+00